<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/layout/layout_default.css"/>
    <link rel="icon" href="/icon/favicon.ico">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>MyShop</title>
</head>

<body>
    <div th:replace="fragments/header_default :: header"></div>

    <div layout:fragment="content"></div>

    <div th:replace="fragments/footer_default :: footer"></div>
</body>
</html>