<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <!-- CSS -->
    <link rel="icon" href="/icon/favicon.ico"> <!-- 파비콘 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" > <!-- 부트 스트랩 -->
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- JQ 3.6 버전-->
    <!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>--> <!-- JQ 자동 최신 버전 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> <!-- 부트 스트랩 JS -->
    <!-- 개인 CSS -->
    <link rel="stylesheet" href="/css/layout/layout_default.css"/> <!-- css -->
    <title>MyShop</title>
</head>

<body>
    <div th:replace="fragments/header_default :: header"></div>

    <div layout:fragment="content"></div>

    <div th:replace="fragments/footer_default :: footer"></div>
</body>
</html>