.header_navbar_left_div{
}

.header_navbar_right_div {
    float:right;
}

.header_backround_div {
    background-color:#333;
}

ul {
    list-style-type: none;
    width:85%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .button__logout:hover {
    background-color: #111;
}

li a:hover:active, .button__logout:hover:active {
    background-color:#4b4b4b;
}

.active {
    background-color: #04AA6D;
}

.button__logout {
    border:none;
    color: white;
    font-size:16px;
    font-family:'MalgunGothic', sans-serif;
    background-color: #333;
    padding: 14px 16px;
}