<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>

<link href="home.css" rel="stylesheet">

<body>
<div class="navbar">
    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> 메인</a>
    <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> 로그인</a>
    <a href="member/register"><i class="fa fa-fw fa-user"></i> 회원가입</a>
</div>


</body>
</html>