<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout/layout_default}">

<div layout:fragment="content">
    <!-- css js -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- css js -->

    <div sec:authorize="isAnonymous()">
        <div>로그인을 하지 않았습니다.</div>
        <button type="button">여기에 content를 작성하자</button>
    </div>

    <div sec:authorize="isAuthenticated()">
        <div>로그인을 했습니다.</div>
        <div sec:authentication="principal.authorities">사용자</div>
    </div>
</div>

</html>