<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/loginForm.css" rel="stylesheet">

<body>
    <div class="container">
        <form action="/login" th:object="${loginForm}" method="post">
            <div class="row">
                <h2 style="text-align:center">로그인</h2>
                <div class="vl">
                    <span class="vl-innertext">or</span>
                </div>

                <div class="col">
                    <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                    </a>
                    <a href="#" class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google+
                    </a>
                </div>

                <div class="col">
                    <div class="hide-md-lg">
                        <p>Or sign in manually:</p>
                    </div>

                    <input type="email" th:field="*{email}" placeholder="아이디" required>
                    <input type="password" th:field="*{password}" placeholder="비밀번호" required>
                    <input type="submit" value="로그인">
                </div>

            </div>
        </form>
    </div>

    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="member/register" style="color:white" class="btn">회원가입</a>
            </div>
            <div class="col">
                <a href="#" style="color:white" class="btn">비밀번호 찾기</a>
            </div>
        </div>
    </div>
</body>
</html>